@import 'sass/_colors.scss';
@import 'sass/_mixins.scss';

.sidebar {
  position: relative;
  z-index: 1;
  border-right: solid 2px $grey;
  @include mobile {
    width: 0;
    overflow: hidden;
  }

  &--toggled {
    width: 25rem;
  }

  &__close-menu {
    @include desktop {
      display: none;
    }
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    background-image: url('../../assets/icons/menu-toggle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  position: fixed;
  top: 0;
  bottom: 0;
  width: 25rem;
  background-color: #fff;
  margin: 0;

  &__toggle-menu {
    display: none;
    @include mobile {
      display: block;
      position: fixed;
      left: 2rem;
      top: 2rem;
      width: 3rem;
      height: 3rem;
      z-index: 1;
      background-image: url('../../assets/icons/menu-toggle.svg');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  &__user-name {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: bold;
  }

  &__user {
    &-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: solid 1px $grey;
      margin: 2rem;
      padding-bottom: 2rem;
    }
    
    &-informations {
      &-row {
        margin-bottom: .5rem;
      }

      &-trend {
        font-size: 2rem;
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 2.8rem;
        margin-left: 2rem;

        &--up {
          color: $green;
          background-image: url('../../assets/icons/trend-up.svg');
        }

        &--down {
          background-image: url('../../assets/icons/trend-down.svg');
        }
      }

      &-value {
        font-size: 2rem;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 1.5rem;
    margin: 0 2rem;
    text-align: center;
    font-size: 2rem;
    color: inherit;

    &--selected {
      color: $red;
      border: none;
      background: $grey;
      border-radius: .5rem;

      .sidebar__item-icon{
        &--dashboard {
          background-image: url('../../assets/icons/dashboard-selected.svg');
        }

        &--team {
          background-image: url('../../assets/icons/team-selected.svg');
        }

        &--decks {
          background-image: url('../../assets/icons/decks-selected.svg');
        }
      }
    }

    &-icon {
      margin-right: 1rem;
      background-size: contain;
      background-repeat: no-repeat;
      width: 2.4rem;
      height: 2.4rem;

      &--dashboard {
        background-image: url('../../assets/icons/dashboard.svg');
      }

      &--team {
        background-image: url('../../assets/icons/team.svg');
      }

      &--decks {
        background-image: url('../../assets/icons/decks.svg');
      }
    }
  }
}
